<%- include('../partials/header') %>


<div>
  <% for (let list of lists) { %>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><span>
        <img style="width:5%; border-radius:50%;" src="<%= list.logoUrl %>" />
        </span>  <%= list.cohortsName %> </h4>
        <p class="card-text"><%= list.members %></p>
        <a href="/cohort/<%= list.id %>" class="btn btn-primary">Show Cohort</a>
      </div>
    </div>
  <% } %>
</div>




<%- include('../partials/footer') %>
