<%- include('../partials/header') %>

<form class="" action="/cohort/<%= entry.id %>" method="post">

  <div class="form-control">
      <h3><%= entry.cohortsName %></h3>
      <p><%= entry.members %>  </p>
    <hr>
    <h6>Method</h6>
      <div class="radio radio-info">
        <input type="radio" name="method" value="teamCount" <%= checked1 %> >
        <label>Team Count</label>
      </div>
      <div class="radio radio-info">
        <input type="radio" name="method" value="numPerTeam" <%= checked2 %>>
        <label>Number Per Team</label>
      </div>
      <label for="quantity">Quantity</label>
      <input type="text" name="quantity" class="form-control" id="quantity" value= <%=  quantity %> >
      <button type="submit" name="submit" value="submit" class="btn btn-outline-primary btn-block mt-2">Assign Teams</button>

      <% if(result){ %>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Members</th>
            </tr>
          </thead>
          <tbody>
          <% for (let i=0; i<result.length; i++) { %>
            <tr>
              <th scope="row" width="10%"><%= i+1 %></th>
              <td><%=result[i]%></td>
            </tr>
          <% } %>
          </tbody>
        </table>

      <% } %>

  </div>



</form>

<%- include('../partials/footer') %>
