<h1>Reset Password</h1>

<%= form_for @user, :url => password_resets_path(params[:id]) do |f| %>
  <% if @user.errors.present? %>
    <p>
      <%= @user.errors.full_messages.join(', ') %>
    </p>
  <% end %>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmatiom %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit 'Update Password' %>

<% end %>
