<h1>Change Your Password</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.present? %>
    <p>
      <%= @user.errors.full_messages.join(', ') %>
    </p>
  <% end %>

  <div>
    <%= f.label :current_password %>
    <%= f.password_field :current_password %>
  </div>
  <div>
    <%= f.label :new_password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit 'Submit' %>
<% end %>
