<h1>Edit your information:</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.present? %>
    <p>
      <%= @user.errors.full_messages.join(', ') %>
    </p>
  <% end %>

  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <%= f.submit 'Submit' %>
<% end %>

<%= link_to 'Change Password', edit_password_path(current_user)%>
