<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <a href="/"> Home </a>
      |
      <%= link_to 'New Post', new_post_path %>
      |
      <%= link_to 'All Posts', posts_path %>


    </nav>
    <%= yield %>
  </body>
</html>
