
<%= form_for @post do |form|%>

    <% if @post.errors.present? %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= @post.errors.full_messages.join(', ') %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <div>
      <%= form.label :title ,for: "title"%>
      <%= form.text_field :title ,class: "form-control", id:"title"%>
    </div>

    <div>
      <%= form.label :body, for: "body", class: "mt-2" %>
      <%= form.text_area :body ,class: "form-control", id:"body", rows: "6", required: "required"%>
    </div>

      <%= form.submit "Submit", class: "btn btn-outline-dark btn-sm mt-2" %>

<% end %>
