<div class="container-fluid p-3" style="background-color:#c7a693;">
<div class="container">

<%# show a post  ---------------------------------------------------------%>
<div class="card text-white mb-3"
      style="background-color:#856046; max-width: 80rem; box-shadow: 2px 3px 10px black;">
    <div class="card-header text-right">
      <i class="fa fa-user-circle-o"></i> <%= @post.user&.full_name || "[deleted]" %>
    </div>
    <div class="card-body">
      <h4 class="card-title"><%= @post.title %></h4>
      <p class="card-text"><%= @post.body %></p>

      <p>
        <% if can?(:like, @post) %>
          <% if @user_like %>
            <%= link_to fa_icon("heart 2x"), like_path(@user_like), method: :delete, class: "text-danger" %>
          <% else %>
            <%= link_to fa_icon("heart-o 2x"), post_likes_path(@post), method: :post, class: "text-danger" %>
          <% end %>
        <% end %>
        <span class="badge badge-danger"><%= pluralize(@post.likes.count, 'like') %></span>


      </p>

      <small class="card-text" style="color:#c7a693;">
        Created at: <%= time_ago_in_words(@post.created_at) %> ago
      </small>
      <small class="card-text ml-3" style="color:#c7a693;">
        Update at: <%= time_ago_in_words(@post.updated_at) %> ago
      </small>
    </div>

  <% if can?(:crud, @post) %>
    <div class="card-body text-right">
      <div class="btn-group" role="group">
        <%= button_to "EDIT",
          edit_post_path(@post),
          :method => "get",
          class: "btn btn-outline-light btn-sm" %>
        <%= button_to "DELETE",
        post_path(@post),
        :method => "delete",
        class: "btn btn-outline-light btn-sm",
        data: {confirm: 'Are you sure?'} %>
      </div>
    </div>
  <% end %>

</div>

<%# comments form ---------------------------------------------------------%>

<%= form_for [@post, @comment] do |f| %>
  <% if @comment.errors.present? %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= @comment.errors.full_messages.join(', ') %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <div>
    <%= f.text_area :body ,class: "form-control", rows: "4",
      placeholder: "What do you think about this post? Write a comment:", style:"border: 1px #856046 solid"%>
  </div>

  <%= f.submit "Submit" ,class: "btn btn-outline-light btn-sm mt-2 mb-4" %>
<% end %>

<%# Lists of comments ------------------------------------------------------%>
<div>
  <h5>Comments:</h5>
    <% @comments.each do |comment| %>
      <div class="card mb-1">
        <div class="card-body">
          <p class="card-text"><%= comment.body %></p>
          <p class="card-text"><em><small>
            by: <%= comment.user&.full_name || "[deleted]" %>
          </small></em></p>
          <small class="card-text text-secondary">
            Created at: <%= time_ago_in_words(comment.created_at) %> ago
          </small>
        </div>

        <% if can?(:destroy, comment) %>

        <div class="card-body text-right">
            <%= link_to(
                'Delete',
                post_comment_path(@post, comment),
                data: {confirm: 'Are you sure?'},
                method: :delete,
                class: "btn btn-danger btn-sm mb-1"
              )
              %>
        </div>

        <% end %>
      </div>
    <% end %>
</div>


</div>
</div>

</div>
