<%# show a post  ---------------------------------------------------------%>
<div class="card text-white bg-dark mb-3 mt-2" style="max-width: 80rem;">
  <div class="card-header text-right">By: <%= @post.user&.full_name || "[deleted]" %></div>
  <div class="card-body">
    <h4 class="card-title"><%= @post.title %></h4>
    <p class="card-text"><%= @post.body %></p>
    <small class="card-text text-secondary">
      Created at: <%= time_ago_in_words(@post.created_at) %> ago
    </small>
    <small class="card-text text-secondary ml-3">
      Update at: <%= time_ago_in_words(@post.updated_at) %> ago
    </small>
  </div>

  <% if can?(:manage, @post) %>
  <div class="card-body text-right">
    <div class="btn-group" role="group">
      <%= button_to "EDIT",
        edit_post_path(@post),
        :method => "get",
        class: "btn btn-outline-light btn-sm" %>
      <%= button_to "DELETE",
      post_path(@post),
      :method => "delete",
      class: "btn btn-outline-light btn-sm",
      data: {confirm: 'Are you sure?'} %>
    </div>
  </div>
  <% end %>
</div>



<%# comments form ---------------------------------------------------------%>

<%= form_for [@post, @comment] do |f| %>
  <% if @comment.errors.present? %>
    <p>
      <%= @comment.errors.full_messages.join(', ') %>
    </p>
  <% end %>

  <div>
    <%= f.text_area :body ,class: "form-control",
      placeholder: "What do you think about this post? Write a comment:" %>
  </div>

  <%= f.submit "Submit" ,class: "btn btn-outline-dark btn-sm mt-2 mb-4"%>
<% end %>

<%# Lists of comments ------------------------------------------------------%>
<div>
    <% @comments.each do |comment| %>
      <div class="answer-list-item">
        <p><%= comment.body %></p>

        <p>
          <strong>Created At:</strong>
          <%= time_ago_in_words(comment.created_at) %> ago
        </p>
      </div>
    <% end %>
</div>
